{
  "extends": [
    "react-app",
    "airbnb"
  ],
  "rules": {
    "no-restricted-syntax": "off",
    "indent": "off",
    "no-unused-expressions": [
      "error",
      {
        "allowTernary": true
      }
    ],
    "no-trailing-spaces": [
      "error",
      {
        "skipBlankLines": true
      }
    ],
    "operator-linebreak": "off",
    "no-use-before-define": "off",
    "prefer-const": "warn",
    "no-shadow": "warn",
    "camelcase": "warn",
    "no-return-assign": "warn",
    "no-lonely-if": "warn",
    "array-callback-return": "warn",
    "arrow-parens": "off",
    "function-paren-newline":"off",
    "arrow-body-style": [
      "warn",
      "as-needed"
    ],
    "object-curly-newline": "off",
    "max-len": [
      "warn",
      {
        "code": 175,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true
      }
    ],
    "prefer-destructuring": "off",
    "no-plusplus": [
      "warn",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-console": "off",
    "no-empty": [
      "warn",
      {
        "allowEmptyCatch": true
      }
    ],
    "no-param-reassign": "warn",
    "no-nested-ternary": "off",
    "no-else-return": "off",
    "quotes": "off",
    "nonblock-statement-body-position": "off",
    "curly": "off",
    "consistent-return": "off",
    "comma-dangle": "off",
    "one-var": "off",
    "one-var-declaration-per-line": "off",
    "no-unused-vars": "off",
    "object-curly-spacing": "off",
    "implicit-arrow-linebreak":"off",
    "import/newline-after-import": "off",
    "import/no-dynamic-require": "off",
    "import/order": "off",
    "spaced-comment": "off",
    "no-underscore-dangle": "off",
    "template-curly-spacing": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-wrap-multilines": "off",
    "react/jsx-indent": [
      "warn",
      4
    ],
    "react/jsx-indent-props": [
      "warn",
      4
    ],
    "react/require-default-props": [
      "warn",
      {
        "forbidDefaultForRequired": true,
        "ignoreFunctionalComponents": true
      }
    ],
    "react/destructuring-assignment": "off",
    "react/prop-types": "off",
    "react/no-array-index-key": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-closing-tag-location": "off",
    "react/state-in-constructor": "off",
    "react/sort-comp": "off",
    "react/jsx-boolean-value": "off",
    "react/jsx-tag-spacing": "off",
    "react/jsx-curly-newline": "off",
    "react-hooks/rules-of-hooks": "warn"
  }
}
