stages:
  - test
  - build

unit-test:
  stage: test
  image: node:latest
  script:
    - yarn install
    - npx jest --coverage
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "story-2917"'
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "staging"'

eas-build:
  stage: build
  image: node:latest
  script:
    - echo $EXPO_TOKEN
    - npx eas-cli prebuild --platform ios --non-interactive
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "story-2917"'
