unit-test:
  stage: test
  image: node:latest
  script:
    - echo "Running unit tests"
    - yarn install
    - npx jest --coverage
    - echo "test completed!"
  rules:
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "master"'
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "staging"'
